<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="breadcrumb-hero">
      <div class="container">
        <div class="breadcrumb-hero">
          <h2>Dream Club</h2>
          <p>Dream Clubs by the users </p>
        </div>
      </div>
    </div>
    <div class="container" id="addContainer">
      <ol>
        <li><a href="/">Home</a></li>
        <li>Dream Club</li>
      </ol>
      <%if(currentUser) { %>
    <div id="addNavbar" class="navbar">
      <ul>
        <li><a class="getstarted" href="/dreamClub/add">Add Dream Club</a></li>
      </ul>
    </div>
    <% } %>
  </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Pricing Section ======= -->
  <section id="dreamClub" class="pricing">
    <div class="container">
     
      <div class="row">
        <% dreamClubs.forEach(function(dreamClub) { %>

        <div class="col-lg-3 col-md-6">
         
          <div class="box" data-aos="fade-up">
            <h3 id="h3"><a href="/dreamClub/detail?id=<%= dreamClub._id %>"><%= dreamClub.club.name %></a></h3>
            <h4><sup></sup><span> </span></h4>
            <ul>
              <li id="li"><img id="indexImageSize" src="../img/<%= dreamClub.dreamClubImage %>"/> </li>
              <li id="li"> <%= dreamClub.player.name %></li>
              <li id="li"> <%= dreamClub.kitNumber %></li>
              <li id="li"> <%= dreamClub.playerPosition %></li>
              <li id="li"><a href="<%= dreamClub.playerVideo %>"target="_blank">Player Video Link</a></li>
              <li id="li"> <%= dreamClub.comment %></li>
            </ul>
            
            <div class="btn-wrap">
              <%if(currentUser!=null){%>
                    
                <%if(currentUser.role == "admin" || currentUser._id == dreamClub.user._id.toString()) { %>
              <a href="/dreamClub/edit?id=<%= dreamClub._id %>" class="btn-buy">Edit</a>
              <% }%>
              <%if(currentUser.role == "admin") { %>
              <a href="/dreamClub/delete?id=<%= dreamClub._id %>" class="btn-buy">Delete</a>
              <% }%>
              <% }%>
            </div>
          </div>
        </div>


        <% }) %>
      </div>
     
    </div>
   
  </section><!-- End Pricing Section -->

  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Get the most news about Dream Club</h2>
        <p>Here are the last updates about the Dream Club and how to use it </p>
      </div>

      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
        <div class="col-lg-5">
          <i class="bx bx-help-circle"></i>
          <h4>What is the Dream Club</h4>
        </div>
        <div class="col-lg-7">
          <p>
            Build your own club, select your club and your player and challenge the others.
          </p>
        </div>
      </div><!-- End F.A.Q Item-->

      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-5">
          <i class="bx bx-help-circle"></i>
          <h4>How to build my club?</h4>
        </div>
        <div class="col-lg-7">
          <p>
            Before you start you must be sure that your  deiered club is in the list, if not you can go and add it to our dtabase and then make it your DREAM CLUB
          </p>
        </div>
      </div><!-- End F.A.Q Item-->

      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-5">
          <i class="bx bx-help-circle"></i>
          <h4>How to select my player ?</h4>
        </div>
        <div class="col-lg-7">
          <p>
            Semilar to the club you first will check if your player is in the list , if not you can add him into the database and make him your club STAR
          </p>
        </div>
      </div><!-- End F.A.Q Item-->

    

    </div>
  </section><!-- End Frequently Asked Questions Section -->

</main><!-- End #main -->

