<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>Club Details</h2>
           
          </div>
        </div>
      </div>
      <div class="container">
        <ol>
          <li><a href="/club/index">Club</a></li>
          <li>details</li>
        </ol>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="" class="img-fluid" alt="">
             
              </div>
              <div class="member-info">
                <h4 id="h4"><%= club.name %></h4>
                <p id="fontSize">  <img id="indexImageSize" src="../img/<%= club.clubImage %>"/></p>

                <p id="fontSize"> Nationality: <%= club.nationality %></p>
                <p id="fontSize"> Popularity: <%= club.popularity %> </p>
                      <p id="fontSize"> Created At: <%= moment(club.createdAt).fromNow() %> </p>
                <p id="fontSize"> Updated At: <%= moment(club.updatedAt).fromNow() %> </p>
                <p id="fontSize"> Created By: <%=currentUser.firstName%> <%=currentUser.lastName%> </p>
                
              </div>
            </div>
          </div>

          

        </div>

      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->

  