<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>Club</h2>
            <p>Club additions by the users </p>
          </div>
        </div>
      </div>
      <div class="container"id="addContainer">
        <ol>
          <li><a href="/">Home</a></li>
          <li>Clubs</li>
        </ol>
        <%if(currentUser) { %>
        <div id="addNavbar" class="navbar">
          <ul>
            <li><a class="getstarted" href="/club/add">Add Club</a></li>
          </ul>
        </div>
<% } %>
      </div>

    </section><!-- End Breadcrumbs -->

    <!-- ======= Pricing Section ======= -->
    <section id="club" class="pricing">
      <div class="container">
       
        <div class="row">
          <div class="row">
            <% clubs.forEach(function(club){ %>
    
            <div class="col-lg-3 col-md-6">
              
              <div class="box" data-aos="fade-up">
                <h3 id="h3"><a href="/club/detail?id=<%= club._id %>"><%= club.name %></a></h3>
                <h4><sup></sup><span> </span></h4>
                <ul>
                  <li id="li"> <img id="indexImageSize" src="../img/<%= club.clubImage %>"/> </li>
                  <li id="li">Nationality: <%= club.nationality %></li>
                  <li id="li">popularity: <%= club.popularity %></li>
                 
                </ul>
               
                <div class="btn-wrap">
                  
                  <%if(currentUser!=null){%>
                    
                  <%if(currentUser.role == "admin" || currentUser._id == club.user._id.toString()) { %>
                  <a href="/club/edit?id=<%= club._id %>" class="btn-buy">Edit</a>
                  <% }%>
                  <%if(currentUser.role == "admin") { %>
                    <a href="/club/delete?id=<%= club._id %>" class="btn-buy">Delete</a>
                    <% }%>
                 <% }%>
                </div>
              </div>
            </div>
    
    
            <% }) %>
          </div>

          
           

          
     
    </section><!-- End Pricing Section -->

    

  </main><!-- End #main -->

 