<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>Add Dream Club</h2>
          </div>
        </div>
      </div>
      <div class="container">
        <ol>
          <li><a href="/dreamClub/index">Dream Club</a></li>
          <li>Add Dream Club</li>
        </ol>
      </div>
    </section>
    <!-- End Breadcrumbs -->
  
    <!-- ======= Contact Section ======= -->
    <section id="addDreamClub" class="contact">
      <div class="container">
        <div class="row mt-5">
          <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">
            <form
            enctype="multipart/form-data"
              action="/dreamClub/add"
              method="POST"
              class="php-email-form">
                <div class="member-img text-center">
                  <img class="img-fluid col-md-4 form-group addEditImageSize" id="dreamClubImage" name="dreamClubImage" src="https://via.placeholder.com/1800"/>
                  <input type="file" id="dreamClubImageFile" name="dreamClubImageFile" style="display: none;" />
                  </div>
               
              <div class="row">
                
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <select name="club" id="club" class="form-control">
                      <option value="" disabled selected>Select Club</option>
      
                      <% clubs.forEach(club =>{ %>
                      <option value="<%=club._id%>"><%=club.name%></option>
                      <%}) %>
                    </select>
                  </div>
                
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <select name="player" id="player" class="form-control">
                      <option value="" disabled selected>Select Player</option>
      
                      <% players.forEach(player =>{ %>
                      <option value="<%=player._id%>"><%=player.name%></option>
                      <%}) %>
                    </select>
                  </div>
                  <div class="col-md-6 form-group">
                    <input
                      type="text"
                      name="kitNumber"
                      class="form-control"
                      id="kitNumber"
                      placeholder="Kit Number"
                    
                    />
                  </div>
                
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <select name="playerPosition" id="playerPosition" class="form-control">
                      <option value="" disabled selected>Select Position</option>
      
                      <% playerPositions.forEach(playerPosition =>{ %>
                      <option value="<%=playerPosition%>"><%=playerPosition%></option>
                      <%}) %>
                    </select>
                  </div>
                
                <div class="col-md-6 form-group">
                  <input
                    type="text"
                    name="playerVideo"
                    class="form-control"
                    id="playerVideo"
                    placeholder="Player Video URL"
                    
                  />
                </div>
                <div class="col-md-6 form-group">
                    <input
                      type="text"
                      name="comment"
                      class="form-control"
                      id="comment"
                      placeholder="Comment"
                      
                    />
                  </div>
                <div class="col-md-6 form-group">
                    <input
                      type="hidden"
                      name="user"
                      class="form-control"
                      id="user"
                      placeholder="user"
                      value="<%=currentUser._id%>"
                      required
                    />
                  </div>
                  
              </div>
             
  
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">
                  Your message has been sent. Thank you!
                </div>
              </div>
              <div class="text-center"><button type="submit" name="submit">Add Dream Club</button></div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- End Contact Section -->
  </main>
  <!-- End #main -->
  