<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>Add Player</h2>
          </div>
        </div>
      </div>
      <div class="container">
        <ol>
          <li><a href="/player/index">Players</a></li>
          <li>Add Player</li>
        </ol>
      </div>
    </section>
    <!-- End Breadcrumbs -->
  
    <!-- ======= Contact Section ======= -->
    <section id="addPlayer" class="contact">
      <div class="container">
        <div class="row mt-5">
          <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">
            <form
            enctype="multipart/form-data"
              action="/player/add"
              method="POST"
              class="php-email-form">
              <div class="member-img text-center">
                <img class="img-fluid col-md-4 form-group addEditImageSize" id="playerImage" name="playerImage" src="https://via.placeholder.com/1800"/>
                <input type="file" id="playerImageFile" name="playerImageFile" style="display: none;" />
                </div>
              <div class="row">
               
                <div class="col-md-6 form-group">
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    id="name"
                    placeholder="Player Name"
                  
                  />
                </div>
               
                
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <select name="nationality" id="nationality" class="form-control">
                      <option value="" disabled selected>Select Nationality</option>
      
                      <% nationalities.forEach(nationality =>{ %>
                      <option value="<%=nationality%>"><%=nationality%></option>
                      <%}) %>
                    </select>
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <select name="playerPosition" id="playerPosition" class="form-control">
                      <option value="" disabled selected>Select Position</option>
      
                      <% playerPositions.forEach(playerPosition =>{ %>
                      <option value="<%=playerPosition%>"><%=playerPosition%></option>
                      <%}) %>
                    </select>
                  </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input
                    type="text"
                    class="form-control"
                    name="kitNumber"
                    id="kitNumber"
                    placeholder="Kit Number"
                    required
                  />
                </div>
                <div class="col-md-6 form-group">
                  <input
                    type="text"
                    name="trophies"
                    class="form-control"
                    id="trophies"
                    placeholder="Trophies"
                    
                  />
                </div>
                <div class="col-md-6 form-group">
                  <input
                    type="hidden"
                    name="user"
                    class="form-control"
                    id="user"
                    placeholder="user"
                    value="<%=currentUser._id%>"
                    required
                  />
                </div>
                <div class="col-md-6 form-group">
                  <input
                    type="hidden"
                    name="role"
                    class="form-control"
                    id="role"
                    placeholder="role"
                    value="<%=currentUser.role%>"
                    required
                  />
                </div>
              </div>
             
  
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">
                  Your message has been sent. Thank you!
                </div>
              </div>
              <div class="text-center"><button type="submit" name="submit">Add Player</button></div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- End Contact Section -->
  </main>
  <!-- End #main -->
  